<form method="post" action="{{ path('decoracion_delete', {'iddecoracion': decoracion.iddecoracion}) }}" onsubmit="return confirm('¿Esta seguro de borrarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ decoracion.iddecoracion) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
