<div class="row">
    <div class="span12">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="span12 margintop10 form-group">                
        <div class="validation"></div>
        <p class="text-center">
            <button class="btn btn-large btn-theme margintop10" >{{ button_label|default('Aceptar') }}</button>
        </p>
      </div>
{{ form_end(form) }}
    </div>
</div>