{% extends "base.html.twig" %}}
{% block body %}
{{parent()}}
<div class="alert alert-danger">
    Error: {{ error_mensaje }} <a class="btn btn-cancel" href="{{ path('principal')}}">Volver</a>
</div>

{% endblock %}}