<footer>
	<div class="container">
	  <div class="row">
		<div class="span3">
		  <div class="widget">
			<h5 class="widgetheading">SALO</h5>
			<ul class="link-list">
			  <li><a href="{{ path('nosotros') }}">Nosotros</a></li>
			  <li><a href="{{ path("evento_index") }}">Eventos Realizados</a></li>
			  <li><a href="#">Quieres ser parte de nuestro equipo</a></li>
			  <li><a href="#">Formacion laboral</a></li>
			</ul>
		  </div>
		</div>
		<div class="span3">
		  <div class="widget">
			<h5 class="widgetheading">Certificaciones</h5>
			<ul class="link-list">
			  <li><a href="#">Calidad ambiental</a></li>
			  <li><a href="#">Calidad alimentaria</a></li>
			  <li><a href="#">Calidad infraestructura</a></li>
			</ul>
		  </div>
		</div>
		<div class="span3">
		  <div class="widget">
			<h5 class="widgetheading">Nuestras instalaciones</h5>
			<div class="flickr_badge">
			  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script><!-- DEVELOPER WARNING: The Flickr badge code is likely to be deprecated, and we recommend changing to a new method to embed photo as soon as possible.  See https://www.flickr.com/api for information on how to access Flickr data. Thanks. --><div class="flickr_badge_image" id="flickr_badge_image1"><a href="https://www.flickr.com/photos/twitteroffice/30362172473/"><img src="https://live.staticflickr.com/5802/30362172473_f95b7ce142_s.jpg" alt="Una foto de Flickr" title="Twitter Dublin, Cumberland Place" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image2"><a href="https://www.flickr.com/photos/twitteroffice/31066433205/"><img src="https://live.staticflickr.com/5451/31066433205_22f0a6fd1d_s.jpg" alt="Una foto de Flickr" title="Twitter Boulder" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image3"><a href="https://www.flickr.com/photos/twitteroffice/45398611151/"><img src="https://live.staticflickr.com/1935/45398611151_7637c6d6a7_s.jpg" alt="Una foto de Flickr" title="Live Twitter Q&amp;A with Tyler Perry" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image4"><a href="https://www.flickr.com/photos/twitteroffice/25671279960/"><img src="https://live.staticflickr.com/1636/25671279960_3a725fb41b_s.jpg" alt="Una foto de Flickr" title="Culture: Twitter turns 10" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image5"><a href="https://www.flickr.com/photos/twitteroffice/31133205476/"><img src="https://live.staticflickr.com/5563/31133205476_6ce1db4ea4_s.jpg" alt="Una foto de Flickr" title="Twitter Paris" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image6"><a href="https://www.flickr.com/photos/twitteroffice/30362161363/"><img src="https://live.staticflickr.com/5675/30362161363_238b84fe4b_s.jpg" alt="Una foto de Flickr" title="Twitter Dublin, Cumberland Place" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image7"><a href="https://www.flickr.com/photos/twitteroffice/27861927789/"><img src="https://live.staticflickr.com/4618/27861927789_e873e3257c_s.jpg" alt="Una foto de Flickr" title="Live Twitter Q&amp;A with Rian Johnson" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image8"><a href="https://www.flickr.com/photos/twitteroffice/26251420738/"><img src="https://live.staticflickr.com/4741/26251420738_40e5f2ca10_s.jpg" alt="Una foto de Flickr" title="Live Twitter Q&amp;A with Dave and James Franco" height="75" width="75"></a></div><span style="position:absolute;left:-999em;top:-999em;visibility:hidden" class="flickr_badge_beacon"><img src="https://geo.yahoo.com/p?s=792600102&amp;t=cc3f23d31604e35d132ff72e77cd744c&amp;r=http%3A%2F%2Flocalhost%2FDAWESE%2FaGestion%2Fpublic%2Findex.php%2F&amp;fl_ev=0&amp;lang=es&amp;intl=es" width="0" height="0" alt=""></span>
			</div>
			<div class="clear">
			</div>
		  </div>
		</div>
		<div class="span3">
		  <div class="widget">
			<h5 class="widgetheading">Ponte en contacto con nosotros</h5>
			<address>
							  <strong>SALO,</strong><br>
							   Andalucia, Avenida 5-65<br>
							   España
						   </address>
			<p>
			  <i class="icon-phone"></i> (+34) 456-7890-55 <br>
			  <i class="icon-envelope-alt"></i> salo@gmail.com
			</p>
		  </div>
		</div>
	  </div>
	</div>
	<div id="sub-footer">
	  <div class="container">
		<div class="row">
		  <div class="span6">
			<div class="copyright">
			  <p>
				<span>© SALO - Todos los derechos reservados.</span>
			  </p>
			  <div class="credits">
				<!--
				  All the links in the footer should remain intact.
				  You can delete the links only if you purchased the pro version.
				  Licensing information: https://bootstrapmade.com/license/
				  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flattern
				-->
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			  </div>
			</div>
		  </div>
		  <div class="span6">
			<ul class="social-network">
			  <li><a href="#" data-placement="bottom" title="" data-original-title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
			  <li><a href="#" data-placement="bottom" title="" data-original-title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
			  <li><a href="#" data-placement="bottom" title="" data-original-title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
			  <li><a href="#" data-placement="bottom" title="" data-original-title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
			  <li><a href="#" data-placement="bottom" title="" data-original-title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </footer>